@media only screen and (min-width: 769px) {
    .header {
        background: #3A4B55;

        &-top {
            height: 50px;
            color: #999;
            background: lightgrey;

            &__wrapper {
                display: flex;
                align-items: center;
                max-width: 1170px;
                margin: auto;
                height: 100%;
            }

            &__contact {
                width: 50%;
                display: flex;

                ul {
                    display: flex;
                }

                li {
                    margin-right: 30px;

                }
            }

            &__list {
                width: 50%;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                }

                li {
                    margin-right: 10px;
                }
            }
        }

        &-center {
            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                height: 100px;
                max-width: 1170px;
                margin: auto;
            }

            &__logo {
                width: 50%;

            }

            &__search {
                select {
                    height: 100%;
                    border: 1px solid black;
                }

                &-wrapper {
                    display: flex;
                    width: 50%;
                }

                &-bar {
                    height: 42px;
                    border: 1px solid black;
                    border-right: none;
                    background: #fff;
                    font-weight: 300;
                }

            }

            &__btn {
                border-radius: 0;
                border: none;
                background: none;
                color: #92c234;
                cursor: pointer;
                font-weight: 300;
                padding: 0 20px;

                &::before {
                    content: '\f002';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: white;
                    font-size: 20px;
                }
            }
        }

        &-bottom {
            background: #00B29C;
            height: 50px;

            &__wrapper {
                max-width: 1170px;
                height: 100%;
                margin: auto;
            }
        }
    }

    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;

        &__list {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }

        &__item {
            margin-right: 20px;

            a {
                color: white;
            }

        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100vw;
        background: #3A4B55;

        &-top {
            height: 6.510vw;
            color: #999;
            background: lightgrey;
            padding: 0 2.604vw 0 2.604vw;

            &__wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                margin: auto;
                height: 100%;
            }

            &__contact {
                width: 65%;
                display: flex;

                ul {
                    display: flex;
                }

                li {
                    margin-right: 3.906vw;
                    font-size: 2.083vw;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            &__list {
                width: 50%;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                }

                li {
                    margin-right: 1.302vw;
                    font-size:  2.083vw;

                }
            }
        }

        &-center {
            padding: 0 2.604vw 0 2.604vw;

            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                height: 13.021vw;
                width: 100%;
                margin: auto;
            }

            &__logo {
                width:32.552vw;
                img{
                    width: 100%;
                }
            }

            &__search {
                select {
                    height: 100%;
                    width: 14.063vw;
                    border: 1px solid black;
                }

                &-wrapper {
                    display: flex;
                }

                &-bar {
                    height: 5.469vw;
                    width: 27.344vw;
                    border: 0.130vw solid black;
                    border-right: none;
                    background: #fff;
                    font-weight: 300;
                }

            }

            &__btn {
                border-radius: 0;
                border: none;
                background: none;
                color: #92c234;
                cursor: pointer;
                font-weight: 300;
                padding: 0 2.604vw;

                &::before {
                    content: '\f002';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: white;
                    font-size: 2.083vw;
                }
            }
        }

        &-bottom {
            padding: 0 2.604vw 0 2.604vw;
            background: #00B29C;
            height: 6.510vw;

            &__wrapper {
                width: 100%;
                height: 100%;
                margin: auto;
            }
        }

    }

    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;

        &__list {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }

        &__item {
            margin-right: 2.604vw;

            a {
                color: white;
                font-size: 2.083vw;
            }

        }
    }
}