body {
    background-color: #f4f4f4;
}

.product {
    max-width: 1170px;
    margin: auto;


    &__heading {
        font-size: 50px;
        font-family:"mincho_bold", "Sawarabi Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-weight: 900;
        &--sub{
            font-size: 20px;
            margin-top: 20px;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        } 
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;

        &__img {
            width: 220px;
            height: 220px;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__item {
            background-color: white;
            padding: 10px;
            width: 250px;
            margin-right: 20px;
            margin-bottom: 20px;
            &:nth-child(4n){
                margin-right: 0;
            }
        }
    }
    &__pagination{
        ul {
            display: inline-block;
            padding: 0;
            margin: 0;
        }
        
         li {display: inline;}
        
         a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product {
        width: 100vw;
        margin: auto;
        &__heading {
            font-size: 3.906vw;

            &-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 6.510vw;
            }
        }
    
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 6.510vw;
    
            &__img {
                // width: 28.646vw;
                // height: 28.646vw;
    
                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            &__item {
                background-color: white;
                padding: 1.302vw;
                &:nth-child(2n){
                    margin-right: 0;
                }
            }
        }
    }
}